@import './variables';
@import './reset';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-family;
  background: $bg-color;
  color: $text-color;
  overflow-x: hidden;
}

.app {
  min-height: 100vh;
  padding: 20px;
}

