@use 'shared/styles/variables' as *;

.years-display {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 120px;
  pointer-events: none;

  &__year {
    font-size: $font-size-year;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -0.02em;

    &--start {
      color: $primary-color;
    }

    &--end {
      color: $secondary-color;
    }
  }

  @media (max-width: 1024px) {
    gap: 80px;

    &__year {
      font-size: 150px;
    }
  }

  @media (max-width: 768px) {
    gap: 30px;

    &__year {
      font-size: 56px;
    }
  }

  @media (max-width: 480px) {
    gap: 20px;

    &__year {
      font-size: 56px;
    }
  }
}

