@import '@/shared/styles/variables';

.circle-navigation {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 530px;
  height: 530px;
  pointer-events: none;

  &::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 1px;
    height: 200vh;
    background: rgba($border-color, 0.2);
    transform: translate(-50%, -50%);
    z-index: -1;
  }

  &::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100vw;
    height: 1px;
    background: rgba($border-color, 0.2);
    transform: translate(-50%, -50%);
    z-index: -1;
  }

  &__border {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 530px;
    height: 530px;
    border: 1px solid rgba($border-color, 0.3);
    border-radius: 50%;
  }

  &__circle {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 0;
    height: 0;
    pointer-events: none;
  }

  &__point {
    position: absolute;
    left: -28px;
    top: -28px;
    width: 56px;
    height: 56px;
    pointer-events: all;
    cursor: pointer;
    transition: all $transition-base;
    transform: translate(var(--translate-x, 0), var(--translate-y, 0));

    &::before {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 6px;
      height: 6px;
      background: $text-color;
      border-radius: 50%;
      transition: all $transition-base;
    }

    &:hover {
      &::before {
        width: 10px;
        height: 10px;
      }
    }

    &--active {
      &::before {
        width: 56px;
        height: 56px;
        background: $bg-color;
        border: 1px solid rgba($border-color, 0.5);
      }

      .circle-navigation__point-number {
        opacity: 1;
      }

      .circle-navigation__point-label {
        opacity: 1;
      }
    }
  }

  &__point-inner {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: transform $transition-slow;
    transform: rotate(var(--rotation-angle, 0deg));
  }

  &__point-number {
    position: absolute;
    font-size: $font-size-large;
    font-weight: 400;
    color: $text-color;
    opacity: 0;
    transition: opacity $transition-base;
  }

  &__point-label {
    position: absolute;
    left: 70px;
    top: 50%;
    transform: translateY(-50%);
    font-size: $font-size-large;
    font-weight: 700;
    color: $text-color;
    white-space: nowrap;
    opacity: 0;
    transition: opacity $transition-base;
  }

  @media (max-width: 1024px) {
    width: 400px;
    height: 400px;

    &__border {
      width: 400px;
      height: 400px;
    }
  }

  @media (max-width: 768px) {
    display: none;
  }
}

