@use 'shared/styles/variables' as *;

.period-counter {
  font-size: $font-size-base;
  font-weight: 400;
  color: $text-color;
  display: flex;
  align-items: center;
  gap: 5px;

  &__current {
    font-weight: 400;
  }

  &__separator {
    opacity: 0.5;
  }

  &__total {
    opacity: 0.5;
  }

  @media (max-width: 768px) {
    font-size: 14px;
  }
}

