@import '@/shared/styles/variables';

.events-slider {
  width: 100%;
  margin-top: $spacing-lg;

  .swiper {
    width: 100%;
    padding: $spacing-sm 0;
  }

  .swiper-slide {
    height: auto;
  }
}

